# Don't change configuration items to other sections
[general]
instance_num=1


[mysqld]
# generic configuration options
table_open_cache = 2048
max_allowed_packet = 16M
sort_buffer_size = 512K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
join_buffer_size = 2M
max_connect_errors = 100000
max_connections = 10000
skip-external-locking
sql_mode = STRICT_TRANS_TABLES
sync_binlog=1
binlog_expire_logs_seconds=259200
enable_binlog_gtmgtid_index = ON
service_available_even_bellow_lwm = OFF

open_files_limit = 65535


transaction-isolation  = READ-COMMITTED
lower_case_table_names = 1

performance_schema = ON
tmp_table_max_rows = 0

#*** MyISAM Specific options
key_buffer_size = 16M
myisam_sort_buffer_size = 8M

# *** INNODB Specific options ***
innodb_data_file_path = ibdata1:500M:autoextend
innodb-file-per-table
innodb_buffer_pool_size = 600M
innodb_buffer_pool_instances = 8
innodb_buffer_pool_dump_at_shutdown = 0
innodb_buffer_pool_dump_now = 0
innodb_buffer_pool_load_at_startup = 0
innodb_buffer_pool_load_now = 0
innodb_flush_log_at_trx_commit = 1
innodb_io_capacity = 2000
innodb_io_capacity_max = 10000
innodb_lock_wait_timeout = 8
innodb_log_buffer_size = 8M
innodb_log_files_in_group = 2
innodb_log_file_size = 2048M
innodb_read_io_threads = 16
innodb_write_io_threads = 16
innodb_autoinc_lock_mode = 2
innodb_flush_neighbors = 1
innodb_purge_threads = 4
innodb_open_files = 65535
innodb_page_cleaners = 4
innodb_undo_log_truncate=ON
innodb_flush_method=O_DIRECT
innodb_adaptive_hash_index = OFF
innodb_print_all_deadlocks=ON


#the default size of binlog file is set to 100M
max_binlog_size = 104857600
# binary logging format
binlog_format=ROW
innodb_lock_wait_max_depth = 0
group_concat_max_len = 1024

transaction_max_binlog_size = 0

#binlog_group_commit_sync_no_delay_count = 30
#binlog_group_commit_sync_delay = 2000

# the slave data obtained by replication also credited in binlog when log-slave-updates=1
log-slave-updates=1
# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted


#binlog_annotate_row_events=ON
#replicate_annotate_row_events=ON
#replicate_events_marked_for_skip=FILTER_ON_MASTER


slave_parallel_workers = 32
slave-parallel-type = LOGICAL_CLOCK
slave_preserve_commit_order = 1
relay_log_recovery = 0

#semi_sync options on master-host
#rpl_semi_sync_master_enabled = ON
#rpl_semi_sync_master_timeout = 10000
#rpl_semi_sync_master_trace_level = 32
#rpl_semi_sync_master_wait_no_slave = ON
#rpl_semi_sync_master_inspection_time = 1000
#rpl_semi_sync_master_wait_point = AFTER_SYNC

# *** quick-sync options in semi-sync plugin ***
# *** detail infomation please refer to GOLDENDB-DB-CONFIGURATION-ADD.docx in setup/manual        ***
# *** the format of hwm and lwm is as follows: wait_team_num:stat_master_flag                     ***
# *** the format of all group* is as follows: id1,id2,id3:wait_ack_num                            ***
# *** example                                                                                     ***
# *** rpl_semi_sync_master_wait_cond_hwm = 2:0                                                    ***
# *** rpl_semi_sync_master_wait_cond_lwm = 2:1                                                    ***
# *** rpl_semi_sync_master_group1 = 1111,2222:1                                                   ***
# *** rpl_semi_sync_master_group2 = 3333,4444,5555:1                                              ***
#rpl_semi_sync_master_wait_cond_hwm = 
#rpl_semi_sync_master_wait_cond_lwm =
#rpl_semi_sync_master_group1 =
#rpl_semi_sync_master_group2 =
#rpl_semi_sync_master_group3 = 
#rpl_semi_sync_master_group4 = 
#rpl_semi_sync_master_group5 = 
#rpl_semi_sync_master_group6 = 
#rpl_semi_sync_master_group7 = 
#rpl_semi_sync_master_group8 = 
#rpl_semi_sync_master_group9 = 
#rpl_semi_sync_master_group10 = 

#semi_sync option on slave-host
#rpl_semi_sync_slave_enabled = ON
#rpl_semi_sync_slave_trace_level = 32

#early-plugin-load = keyring_file.so
#keyring_file_data = /home/mysql/data/data/keyring

#server audit options
#server_audit_events           =
#server_audit_excl_users       =
#server_audit_file_path        = server_audit.log
#server_audit_file_rotate_now  = OFF
#server_audit_file_rotate_size = 1000000
#server_audit_file_rotations   = 9
#server_audit_incl_users       =
#server_audit_logging          = ON
#server_audit_mode             = 0
#server_audit_output_type      = file
#server_audit_syslog_facility  = LOG_USER
#server_audit_syslog_ident     = mysql-server_auditing
#server_audit_syslog_info      =
#server_audit_syslog_priority  = LOG_INFO

mysqlx=0
default_authentication_plugin=mysql_native_password

# INNODB lock wait log options
innodb_lock_wait_log = OFF

auto_increment_increment = 8
auto_increment_offset = 1

# *** threadpool options like the threapool of percona                                            ***
# *** detail infomation please refer to GOLDENDB-DB-CONFIGURATION-ADD.docx in setup/manual        ***
thread_pool_max_threads = 10000
thread_handling = pool-of-threads
thread_pool_size = 48
thread_pool_idle_timeout = 60
thread_pool_oversubscribe = 16
thread_pool_high_prio_mode = transactions
thread_pool_stall_limit = 100


port            = 5518
socket          = /home/mysql/bin/mysql1.sock
bind_address = 127.0.0.1
datadir  = /home/mysql/data/data
log-error=/home/mysql/log/mysqld1.log
pid-file=/home/mysql/bin/mysqld1.pid
innodb_data_home_dir = /home/mysql/data/data
innodb_log_group_home_dir = /home/mysql/data/redo
innodb_undo_directory=/home/mysql/data/undo
server-id       = 1
basedir=/home/mysql
log-bin=../binlog/mysql-bin
relay-log=../relaylog/relay-bin
tmpdir=/home/mysql/data/tmp
secure-file-priv=
gtid_mode = on
enforce_gtid_consistency=on
skip-name-resolve
report_host = 127.0.0.1
report_port = 5518
default-time-zone='+8:00'
log_timestamps=SYSTEM
master-info-repository=TABLE
relay-log-info-repository=TABLE
slave_net_timeout = 5
lock_wait_timeout = 5
character_set_server = utf8mb4
collation_server = utf8mb4_bin
parse_mode = 1
log_error_verbosity = 3
information_schema_stats_expiry = 86400 
innodb_lock_wait_log_dir = /home/mysql/log/
innodb_lock_wait_collect_time =  500
slow_query_log_file = /home/mysql/log/slow.log
slow_query_log = 0
long_query_time = 10

[client]
port = 5518
socket = /home/mysql/bin/mysql1.sock

[mysql]
no-auto-rehash
# Only allow UPDATEs and DELETEs that use keys.
#safe-updates

